<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Opportunity</title>
    <link rel="stylesheet" href="/static/css/create_opportunity.css">
</head>
<body>
    <nav class="navbar">
        <!-- logo -->
        <div class="navbar-logo">
            <a href="/organization">
                <img src="/static/logo.png" alt="Voluntech"/>
            </a>
        </div>
        <!-- menu items -->
        <div class="menu">
            <ul>
                <li>
                    <a href="/create-opportunity/">Post a project</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/organization/"> Home </a>
                </li>
            </ul>
            <ul style="margin-left: auto;">
                <li>
                    <a href=/organization/impact>Impact</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <a href="/" id="logout" onclick="logout();">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <h1>Create a New Volunteering Opportunity</h1>
    <br>
    <div class="form-container">
        <main>
            <form id="createOpportunityForm" method="post" action="/create-opportunity/">
                <div class="form-group">
                    <input type="text" id="organizer" name="organizer" placeholder="Organizer" required>
                </div>
                <div class="form-group">
                    <input type="text" id="name" name="name" placeholder="Opportunity Name" required>
                </div>
                <div class="form-group">
                    <textarea id="description" name="description" placeholder="Description" required></textarea>
                </div>
                <div class="form-group">
                    <input type="number" id="limit" name="limit" placeholder="Volunteer Limit" required>
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate" required>
                </div>
                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate" required>
                </div>
                <div class="form-group">
                    <input type="text" id="location" name="location" placeholder="Location" required>
                </div>
                <div>
                    <div class="form-group">
                        <input type="text" autocomplete="off" id="skills" name="skills" placeholder="Skill requirements" required oninvalid="this.setCustomValidity('Please select an item in the list')" readonly>
                    </div>
                </div>
                <br>
                <div>
                    <input type="text" autocomplete="off" id="cause" name="cause" placeholder="Cause area" required oninvalid="this.setCustomValidity('Please select an item in the list')" readonly>
                </div>
                <br>
                <button type="submit" class="submit-btn">Create Opportunity</button>
            </form>
        </main>
    </div>
            <!-- SKILLS MODAL-->
            <div id="skillModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 >Select Skills (Maximum of 3) </h2>
                    <table id="skillOptions">
                        <tr>
                        <td><label><input type="checkbox" value="Accounting"> Accounting</label></td>
                        <td><label><input type="checkbox" value="Artificial Intelligence"> Artificial Intelligence</label></td>
                        <td><label><input type="checkbox" value="Branding"> Branding</label></td>
                        <td><label><input type="checkbox" value="Business Development"> Business Development</label></td>
                        </tr>
                        <tr>
                        <td><label><input type="checkbox" value="Communications"> Communications</label></td>
                        <td><label><input type="checkbox" value="Data Analysis"> Data Analysis</label></td>
                        <td><label><input type="checkbox" value="Digital Advertising"> Digital Advertising</label></td>
                        <td><label><input type="checkbox" value="Digital Marketing"> Digital Marketing</label></td>
                        </tr>
                        <tr>
                        <td><label><input type="checkbox" value="Engineering"> Engineering</label></td>
                        <td><label><input type="checkbox" value="Entrepreneurship"> Entrepreneurship</label></td>
                        <td><label><input type="checkbox" value="Event Planning"> Event Planning</label></td>
                        <td><label><input type="checkbox" value="Finance"> Finance</label></td>
                        </tr>
                        <tr>
                        <td><label><input type="checkbox" value="Fundraising"> Fundraising</label></td>
                        <td><label><input type="checkbox" value="Graphic Design"> Graphic Design</label></td>
                        <td><label><input type="checkbox" value="Human Resources"> Human Resources</label></td>
                        <td><label><input type="checkbox" value="Information Technology"> Information Technology</label></td>
                        </tr>
                        <tr>
                        <td><label><input type="checkbox" value="Leadership"> Leadership</label></td>
                        <td><label><input type="checkbox" value="Management"> Management</label></td>
                        <td><label><input type="checkbox" value="Marketing"> Marketing</label></td>
                        <td><label><input type="checkbox" value="Photography & Video"> Photography & Video</label></td>
                        </tr>
                        <tr>
                        <td><label><input type="checkbox" value="Public Relations"> Public Relations</label></td>
                        <td><label><input type="checkbox" value="Research"> Research</label></td>
                        <td><label><input type="checkbox" value="Sales"> Sales</label></td>
                        <td><label><input type="checkbox" value="Social Media"> Social Media</label></td>
                        </tr>
                        <tr>
                        <td><label><input type="checkbox" value="Tutoring"> Tutoring</label></td>
                        <td><label><input type="checkbox" value="Web Design"> Web Design</label></td>
                        <td><label><input type="checkbox" value="Web Development"> Web Development</label></td>
                        <td><label><input type="checkbox" value="Writing"> Writing</label></td>
                        </tr>
                    </table>
                    <button id="saveSkills">Save</button>
                </div>
            </div> 
            <!-- CAUSE MODAL-->
            <div id="causesModal" class="modal">
                <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Choose Causes (Maximum of 3)</h2>
                <table id="causeOptions">
                    <tr>
                    <td><label><input type="checkbox" value="Animals"> Animals</label></td>
                    <td><label><input type="checkbox" value="Community & economic development"> Community & Economic Development</label></td>
                    <td><label><input type="checkbox" value="Diversity & inclusion"> Diversity & Inclusion</label></td>
                    <td><label><input type="checkbox" value="Environment"> Environment</label></td>
                    </tr>
                    <tr>
                    <td><label><input type="checkbox" value="Housing & homelessness"> Housing & Homelessness</label></td>
                    <td><label><input type="checkbox" value="Justice & legal services"> Justice & Legal Services</label></td>
                    <td><label><input type="checkbox" value="Military & veterans affairs"> Military & Veterans Affairs</label></td>
                    <td><label><input type="checkbox" value="Science & technology"> Science & Technology</label></td>
                    </tr>
                    <tr>
                    <td><label><input type="checkbox" value="Arts & culture"> Arts & Culture</label></td>
                    <td><label><input type="checkbox" value="Disaster relief"> Disaster Relief</label></td>
                    <td><label><input type="checkbox" value="Education"> Education</label></td>
                    <td><label><input type="checkbox" value="Gender equity & justice"> Gender Equity & Justice</label></td>
                    </tr>
                    <tr>
                    <td><label><input type="checkbox" value="Human services"> Human Services</label></td>
                    <td><label><input type="checkbox" value="LGBTQ+"> LGBTQ+</label></td>
                    <td><label><input type="checkbox" value="Philanthropy & capacity building"> Philanthropy & Capacity Building</label></td>
                    <td><label><input type="checkbox" value="Violence prevention"> Violence Prevention</label></td>
                    </tr>
                    <tr>
                    <td><label><input type="checkbox" value="Civil rights"> Civil Rights</label></td>
                    <td><label><input type="checkbox" value="Disease & medical research"> Disease & Medical Research</label></td>
                    <td><label><input type="checkbox" value="Employment services"> Employment Services</label></td>
                    <td><label><input type="checkbox" value="Health & nutrition"> Health & Nutrition</label></td>
                    </tr>
                    <tr>
                    <td><label><input type="checkbox" value="International affairs"> International Affairs</label></td>
                    <td><label><input type="checkbox" value="Maternal health"> Maternal Health</label></td>
                    <td><label><input type="checkbox" value="Religion & spirituality"> Religion & Spirituality</label></td>
                    <td><label><input type="checkbox" value="Youth development"> Youth Development</label></td>
                    </tr>
                </table>
                <button id="saveCauses">Save</button>
                
                </div>
            </div>

   <script src="/static/js/organization/create_opportunity.js"></script>
</body>
</html>
