body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 400px;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
button {
    width: 60%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 10px;
    font-size: 15px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #0056b3;
}

.forgot-password {
    margin-top: 10px;
    font-size: 15px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #0056b3;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    color: #646464;
}

.title {
    font-size: 30px;
    font-family: 'josefin sans';
}

.navbar-logo {
    flex: 1; /* Distribute remaining space equally */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.navbar-logo img {
    max-height: 100px; 
    max-width:150px; 
    flex-shrink: 0;
}

.navbar {
    width: 100%;
    background-color: #232323;
    color: #cdcdcd;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #cdcdcd;
    font-size: 20px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #00C6A7;
}
